/* Estilo general de la barra */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}
/* Estilo del pulgar */
::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Color del pulgar */
  border-radius: 4px; /* Bordes redondeados */
}
/* Estilo del carril */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del carril */
}
/* Estilo del pulgar al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}


/*ANIMACIONES SOLO CON CSS*/
/*Animacion de entrada y salida*/
@keyframe animacion {
  from {
    opacity: 0;
    scale: 25%;  }

  to {
    opacity: 1;
    scale: 100%;
  }  
}
playAnimacion {
  view-timeline-name: --play;
  view-timeline-axis: block;

  animation-timeline: --play;
  animation-name: animacion;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}




/*RESPONSIVIDAD GRID*/
.grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));  
}